In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def scrape_icydata_player_stats(id, year):
    # Construct the URL based on the provided id
    url = f"https://www.icydata.hockey/player_stats/{id}"

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table with the id "player-stats"
        table = soup.find('table', {'id': 'player-stats'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')
            data = []

            for row in rows:
                data_cells = row.find_all('td')
                if data_cells:
                    data.append([cell.get_text(strip=True) for cell in data_cells])

            # Assuming the first row is the header
            header_cells = rows[0].find_all('th')
            headers = [cell.get_text(strip=True) for cell in header_cells]

            # Create a pandas DataFrame
            df = pd.DataFrame(data, columns=headers)

            # Create a Series with 2023
            year_series = pd.Series([year] * len(df))

            # Assign the Series to the 'Year' column in the DataFrame
            df['Year'] = year_series

            # Return the DataFrame
            return df

        else:
            print("Table with id 'player-stats' not found on the page.")
            return None

    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

In [4]:
# 2023 Player States:
id_to_scrape = 39
target_year = 2023
df_2023 = scrape_icydata_player_stats(id_to_scrape, target_year)
df_2023.to_csv(f'IceHockey{target_year}.csv', encoding='utf-8')
df_2023

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,SB,MS,H,GV,TK,BS,FW,FL,F%,Year
0,Jake Livingstone,NSH,5,0,1,1,-2,1,2,3,4,2,6,3,0,12,0,0,0,2023
1,Philip Tomasino,NSH,31,5,13,18,5,3,6,53,21,26,28,15,10,16,9,8,52.94,2023
2,Luke Evangelista,NSH,24,7,8,15,7,3,6,54,17,7,9,9,15,6,0,0,0,2023
3,Spencer Stastney,NSH,8,0,2,2,4,1,2,9,3,2,2,3,2,9,0,0,0,2023
4,Tommy Novak,NSH,42,13,24,37,4,3,6,71,32,27,6,13,24,21,161,181,47.08,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,Mikael Granlund,NSH,79,10,32,42,-15,10,20,121,51,51,78,33,38,61,171,213,44.53,2023
955,Filip Forsberg,NSH,50,19,23,42,-3,10,20,157,81,84,86,29,34,20,0,1,0,2023
956,Colton Sissons,NSH,82,12,18,30,-3,10,20,88,43,48,164,27,32,72,591,516,53.39,2023
957,Yakov Trenin,NSH,77,12,12,24,-7,18,47,140,52,64,167,43,44,30,14,22,38.89,2023
958,Steven Lorentz,S.J,80,10,9,19,-17,7,16,112,40,41,133,15,46,46,262,284,47.99,2023

In [5]:
# 2023 Player States:
id_to_scrape = 36
target_year = 2022
df_2022 = scrape_icydata_player_stats(id_to_scrape, target_year)
df_2022.to_csv(f'IceHockey{target_year}.csv', encoding='utf-8')
df_2022

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,SB,MS,H,GV,TK,BS,FW,FL,F%,Year
0,Viktor Lodin,OTT,1,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,2022
1,Chris Wagner,BOS,1,0,0,0,-1,0,0,2,0,1,11,0,0,0,0,1,0,2022
2,Kent Johnson,CBJ,9,0,3,3,2,1,2,5,7,8,4,2,2,1,0,0,0,2022
3,Zac Jones,NYR,12,0,2,2,-7,0,0,8,3,6,4,12,15,13,0,0,0,2022
4,Hunter Drew,ANA,2,0,0,0,0,1,5,0,1,0,5,0,0,0,0,0,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,John Marino,PIT,81,1,23,24,4,10,23,90,62,39,73,35,43,88,0,0,0,2022
1008,Drew O'Connor,PIT,22,3,2,5,-2,2,4,40,8,14,12,5,9,7,18,34,34.62,2022
1009,Jan Rutta,TBL,76,3,15,18,24,22,49,86,68,44,93,18,6,71,0,0,0,2022
1010,Teddy Blueger,PIT,65,9,21,30,12,5,10,93,20,21,87,22,37,32,356,318,52.82,2022
1011,Jeff Carter,PIT,76,19,26,45,-8,18,38,200,69,45,98,39,33,50,648,489,56.99,2022

In [24]:
def scrape_nhl_salaries(year):
    # Construct the URL based on the provided year
    url = f"https://www.hockey-reference.com/friv/current_nhl_salaries.cgi"

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table with the id "salaries"
        table = soup.find('table', {'id': 'salaries'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')
            data = []

            for row in rows:
                # Check if it's a header row (th elements) or data row (td elements)
                cells = row.find_all(['th', 'td'])
                row_data = [cell.get_text(strip=True) for cell in cells]
                data.append(row_data)

            # Assuming the first row is the header
            header_cells = rows[0].find_all('th')
            headers = [cell.get_text(strip=True) for cell in header_cells]

            # Create a pandas DataFrame
            df = pd.DataFrame(data, columns=headers)

            # Create a Series with the provided year
            year_series = pd.Series([year] * len(df))

            # Assign the Series to the 'Year' column in the DataFrame
            df['Year'] = year_series

            # Return the DataFrame
            return df

        else:
            print("Table with id 'salaries' not found on the page.")
            return None

    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

In [27]:
# Example usage:
year_to_scrape = 2024

df_salaries = scrape_nhl_salaries(year_to_scrape)

df_salaries.to_csv('Player2024Salary.csv', encoding='utf-8')
df_salaries

                   Player   Tm      Salary     Cap Hit  Year
0                  Player   Tm      Salary     Cap Hit  2024
1         Kirill Kaprizov  MIN  12,500,000   9,000,000  2024
2                Adam Fox  NYR  12,000,000   9,500,000  2024
3            Drew Doughty  LAK  11,000,000  11,000,000  2024
4              Cale Makar  COL  11,000,000   9,000,000  2024
..                    ...  ...         ...         ...   ...
711        Justin Sourdif  FLA     775,000     847,500  2024
712  Oliver Ekman-Larsson  FLA     775,000   2,250,000  2024
713        Uvis Balinskis  FLA     775,000     870,000  2024
714          Cuylle, Will  NYR     775,000     828,333  2024
715             Greer, AJ  CGY     775,000     762,500  2024

[716 rows x 5 columns]

In [41]:
df_2023 = pd.read_csv('IceHockey2023.csv')
df_salaries = pd.read_csv('Player2024Salary.csv')

In [46]:
# The merge table
merged_df = pd.merge(df_2023, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how="outer", indicator=True)

merged_df

,Unnamed: 0_x,Player,Team,GP,G,A,Pts,+/-,PN,PIM,...,BS,FW,FL,F%,Year,Unnamed: 0_y,Tm,Salary,Cap Hit,_merge
0,0.0,Jake Livingstone,NSH,5.0,0.0,1.0,1.0,-2.0,1.0,2.0,...,12.0,0.0,0.0,0.00,2023.0,NaN,NaN,NaN,NaN,left_only
1,1.0,Philip Tomasino,NSH,31.0,5.0,13.0,18.0,5.0,3.0,6.0,...,16.0,9.0,8.0,52.94,2023.0,533.0,NSH,"832,500","863,333",both
2,2.0,Luke Evangelista,NSH,24.0,7.0,8.0,15.0,7.0,3.0,6.0,...,6.0,0.0,0.0,0.00,2023.0,620.0,NSH,"775,000","797,500",both
3,3.0,Spencer Stastney,NSH,8.0,0.0,2.0,2.0,4.0,1.0,2.0,...,9.0,0.0,0.0,0.00,2023.0,NaN,NaN,NaN,NaN,left_only
4,4.0,Tommy Novak,NSH,42.0,13.0,24.0,37.0,4.0,3.0,6.0,...,21.0,161.0,181.0,47.08,2023.0,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,NaN,Justin Sourdif,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,711.0,FLA,"775,000","847,500",right_only
1314,NaN,Oliver Ekman-Larsson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,712.0,FLA,"775,000","2,250,000",right_only
1315,NaN,Uvis Balinskis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,713.0,FLA,"775,000","870,000",right_only
1316,NaN,"Cuylle, Will",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,714.0,NYR,"775,000","828,333",right_only
1317,NaN,"Greer, AJ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,715.0,CGY,"775,000","762,500",right_only

In [47]:
merged_df['_merge'].value_counts()

_merge
left_only     602
right_only    359
both          357
Name: count, dtype: int64

In [50]:
# The inner merge table
inner_merged_df = pd.merge(df_2023, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how='inner', indicator=True).drop(columns=['Tm'])

inner_merged_df.to_csv('IceHockey2023VsSalary.csv')
inner_merged_df

,Unnamed: 0_x,Player,Team,GP,G,A,Pts,+/-,PN,PIM,...,TK,BS,FW,FL,F%,Year,Unnamed: 0_y,Salary,Cap Hit,_merge
0,1,Philip Tomasino,NSH,31,5,13,18,5,3,6,...,10,16,9,8,52.94,2023,533,"832,500","863,333",both
1,2,Luke Evangelista,NSH,24,7,8,15,7,3,6,...,15,6,0,0,0.00,2023,620,"775,000","797,500",both
2,21,Benoit-Olivier Groulx,ANA,2,0,0,0,0,0,0,...,2,0,9,11,45.00,2023,627,"775,000","775,000",both
3,26,Brock Faber,MIN,2,0,0,0,2,0,0,...,1,9,0,0,0.00,2023,527,"832,500","925,000",both
4,27,Matthew Knies,TOR,3,0,1,1,1,1,2,...,3,2,0,0,0.00,2023,551,"832,500","925,000",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,949,Kiefer Sherwood,NSH,33,7,6,13,4,12,30,...,17,15,6,4,60.00,2023,623,"775,000","775,000",both
353,951,Ryan McDonagh,NSH,71,2,18,20,12,11,22,...,47,162,0,0,0.00,2023,27,"8,400,000","6,750,000",both
354,955,Filip Forsberg,NSH,50,19,23,42,-3,10,20,...,34,20,0,1,0.00,2023,11,"10,000,000","8,500,000",both
355,956,Colton Sissons,NSH,82,12,18,30,-3,10,20,...,32,72,591,516,53.39,2023,241,"3,500,000","2,857,143",both
356,957,Yakov Trenin,NSH,77,12,12,24,-7,18,47,...,44,30,14,22,38.89,2023,389,"1,700,000","1,700,000",both

In [51]:
df_2022 = pd.read_csv('IceHockey2022.csv')
df_salaries = pd.read_csv('Player2024Salary.csv')

In [52]:
# The inner merge table
inner_merged_df = pd.merge(df_2022, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how='inner', indicator=True).drop(columns=['Tm'])

inner_merged_df.to_csv('IceHockey2022VsSalary.csv')
inner_merged_df

,Unnamed: 0_x,Player,Team,GP,G,A,Pts,+/-,PN,PIM,...,TK,BS,FW,FL,F%,Year,Unnamed: 0_y,Salary,Cap Hit,_merge
0,2,Kent Johnson,CBJ,9,0,3,3,2,1,2,...,2,1,0,0,0.00,2022,534,"832,500","925,000",both
1,10,Jordan Harris,MTL,10,1,0,1,3,4,8,...,3,11,0,0,0.00,2022,420,"1,400,000","1,400,000",both
2,22,Lukas Reichel,CHI,11,0,1,1,-8,0,0,...,6,3,16,30,34.78,2022,561,"832,500","925,000",both
3,24,Alex Vlasic,CHI,15,1,1,2,-2,1,2,...,5,16,0,0,0.00,2022,563,"832,500","916,667",both
4,31,Jack McBain,ARI,10,2,1,3,-6,3,6,...,2,9,35,68,33.98,2022,401,"1,599,999","1,599,999",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,1001,Nikita Kucherov,TBL,47,25,44,69,0,11,22,...,24,7,1,0,100.00,2022,146,"5,000,000","9,500,000",both
271,1003,Zach Bogosian,TBL,48,3,5,8,2,18,53,...,7,34,0,0,0.00,2022,454,"1,050,000","850,000",both
272,1004,Bryan Rust,PIT,60,24,33,57,7,7,14,...,22,24,1,5,16.67,2022,79,"6,100,000","5,125,000",both
273,1008,Drew O'Connor,PIT,22,3,2,5,-2,2,4,...,9,7,18,34,34.62,2022,491,"925,000","925,000",both
274,1011,Jeff Carter,PIT,76,19,26,45,-8,18,38,...,33,50,648,489,56.99,2022,291,"3,000,000","3,125,000",both